Stratafy <- function(data,size,replace,column){
  
  # data = Train_int
  # size = 200
  # replace = TRUE
  # column = "Survived"
  
  
  levels_data_1 <- levels(data[,column])[1]
  levels_data_2 <- levels(data[,column])[2]
  iter = as.integer((level1_prop*size))
  
  level1_prop <- table(data[,column])[1]/length(data[,column])
  level2_prop <- table(data[,column])[2]/length(data[,column])
  data_sorted <- data[order(data[,column]),]
  level1_data <- data_sorted[data_sorted[,column] == levels_data_1,]
  level2_data <- data_sorted[data_sorted[,column] == levels_data_2,]
  full_level1_data = level1_data
  full_level2_data = level2_data
  level1_data_strat = matrix(0,nrow =  0,ncol =  dim(level1_data)[2])
  level2_data_strat = matrix(0,nrow =  0,ncol =  dim(level1_data)[2])
  level1_data_strat = as.data.frame(level1_data_strat)
  level2_data_strat = as.data.frame(level2_data_strat)
  names(level1_data_strat) = names(level1_data)
  names(level2_data_strat) = names(level2_data) 
  set.seed(100)
  rand1 = 0
  rand2 = 0
  rand3 = 0
  rand4 = 0
  rand_temp1 = rep(x = 0,times = iter)
  rand_temp2 = rep(x = 0,times = size - iter)
  newsize = size - iter
  if(replace == TRUE){
    for(i in 1:iter){
      rand1 = as.integer(runif(n = 1,min = 1,max = dim(level1_data)[1]))
      level1_data_strat = rbind(level1_data_strat,level1_data[rand1,])
      
    }
    for(j in 1:(size-iter)){
      rand2 = as.integer(runif(n = 1,min = 1,max = dim(level2_data)[1]))
      level2_data_strat = rbind(level2_data_strat,level2_data[rand2,])
    }
  }
  if(replace == FALSE){
    for(k in 1:iter){
      if(rand3 == 0){
      rand3 = as.integer(runif(n = 1,min = 1,max = dim(level1_data)[1]))
      level1_data_strat = rbind(level1_data_strat,level1_data[rand3,])
      level1_data = level1_data[-rand3,]
      rand_temp1[k] = rand3
      }
      else{
        
        while(rand3 %in% rand_temp1){
          rand3 = as.integer(runif(n = 1,min = 1,max = dim(level1_data)[1]))
          rand3 = rand3
        }
        
        level1_data_strat = rbind(level1_data_strat,level1_data[rand3,])
        level1_data = level1_data[-rand3,]
        rand_temp1[k] = rand3
      }
    }
    for(l in 1:newsize){
      if(rand4 == 0){
        rand4 = as.integer(runif(n = 1,min = 1,max = dim(level2_data)[1]))
        level2_data_strat = rbind(level2_data_strat,level2_data[rand4,])
        level2_data = level2_data[-rand4,]
        rand_temp2[l] = rand4
      }
      else{
        
        while(rand4 %in% rand_temp2){
          rand4 = as.integer(runif(n = 1,min = 1,max = dim(level2_data)[1]))
          rand4 = rand4
        }
        
        level2_data_strat = rbind(level2_data_strat,level2_data[rand4,])
        level2_data = level2_data[-rand4,]
        rand_temp2[l] = rand4
      }
    }

  }
  Strata_final_data = rbind(level1_data_strat,level2_data_strat)
  dimm = dim(Strata_final_data)
  return(Strata_final_data)
  return(dimm)
  level1_data_strat = NULL
  level2_data_strat = NULL
  level2_data = NULL
  level1_data = NULL
}
